body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  width: auto;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

a {
  color: #69696a;
  text-decoration: none;
}

#logo {
  color: #000;
}

button {
  color: #fff;
  font-size: 13px;
  background-color: #000;
  border-radius: 20px;
  width: 100%;
  padding: 10px 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #000;
}

span {
  border-left: 3px solid #0b0b11;
}

p {
  color: #69696a;
  margin: 0 10px;
}

#scroll {
  margin: 25px 0;
}

/* ---------------- Desktop Styling Below --------------------- */

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    height: 100vh;
  }

  nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    align-items: baseline;
    /* justify-content: space-between; */
  }

  main {
    flex: 10;
  }

  span {
    width: 50%;
  }

  #scroll-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  #scroll {
    width: 120px;
  }

  #logo {
    flex: 1;
  }

  ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }

  #hire {
    width: 90px;
  }

  .nav-item {
    display: inline-block;
    padding: 5px 5px;
  }

  button {
    width: auto;
  }
}
